## Dashboard Data Extraction Notebook

#### By: Aurelio Barrios

This notebook shows the process of turning raw csv data into tangible json data files for the purpose of creating a Premier League interactive dashboard using JavaScript. The Highcharts library used for creating this dashboard requires specific data files for each data visualization created. Therefore the purpose of this notebook is creating such data files from raw csv files that only track specific match results for each Premier League season from 2009 to present day.

### Imports

Begin with necessary imports and read in the raw data set. Then build a dataframe that stores all the data from 2009-Present and save it to `data/csv_data/raw_combined.csv`.

In [1]:
import json
import pandas as pd
import numpy as np
#import helper functions from helper file
from helper_functions import *

In [2]:
#create a dataframe from previos seasons
df = combine_raw_data(9, 21, write=True)
#create a column that displays which teams are playing in a game
df['Match'] = df['AwayTeam'] + ' @ ' + df['HomeTeam']
df.head()

Wrote combined data frame to:  data/csv_data/raw_combined.csv

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HF,AF,HC,AC,HY,AY,HR,AR,Season,Match
0,E0,2009-08-15,Aston Villa,Wigan,0,2,A,0,1,A,...,15,14,4,6,2,2,0,0,9,Wigan @ Aston Villa
1,E0,2009-08-15,Blackburn,Man City,0,2,A,0,1,A,...,12,9,5,4,2,1,0,0,9,Man City @ Blackburn
2,E0,2009-08-15,Bolton,Sunderland,0,1,A,0,1,A,...,16,10,4,7,2,1,0,0,9,Sunderland @ Bolton
3,E0,2009-08-15,Chelsea,Hull,2,1,H,1,1,D,...,13,15,12,4,1,2,0,0,9,Hull @ Chelsea
4,E0,2009-08-15,Everton,Arsenal,1,6,A,0,3,A,...,11,13,4,9,0,0,0,0,9,Arsenal @ Everton

### Building JSON Data For Dashboard

The first chart that we use in the Dashboard is a line chart that displays each team currently in the Premier League and their respective league finishes for every season 2009 to present. In order to do this it is necessary to find the place that a team i.e. Aston Villa finished for every season.

In order to make the process easier the first step is to create final standings tables for every season. This is done using the helper function `write_standings`.

In [3]:
#save final standings tables for every season using helper function
write_standings(df)

Writing standings for 2009-10 season to file: data/csv_data/standings-910.csv
Writing standings for 2010-11 season to file: data/csv_data/standings-1011.csv
Writing standings for 2011-12 season to file: data/csv_data/standings-1112.csv
Writing standings for 2012-13 season to file: data/csv_data/standings-1213.csv
Writing standings for 2013-14 season to file: data/csv_data/standings-1314.csv
Writing standings for 2014-15 season to file: data/csv_data/standings-1415.csv
Writing standings for 2015-16 season to file: data/csv_data/standings-1516.csv
Writing standings for 2016-17 season to file: data/csv_data/standings-1617.csv
Writing standings for 2017-18 season to file: data/csv_data/standings-1718.csv
Writing standings for 2018-19 season to file: data/csv_data/standings-1819.csv
Writing standings for 2019-20 season to file: data/csv_data/standings-1920.csv
Writing standings for 2020-21 season to file: data/csv_data/standings-2021.csv
Writing standings for 2021-22 season to file: data/csv_data/standings-2122.csv

Now that we have the final standings for each year we can begin building the `data/standings.json` file that will be used in the actual dashboard. The final JSON file needs to have this structure:

`
[
    {
        "name": "Team Name",
        "data": [2, 3, 4, 1, 2, 3, 1, 4, 5, 8, 12, 8, 18]
    },
    ...,
    {
        "name": "Other Team Name",
        "data": [2, 3, 4, 1, 2, 3, 1, 4, 5, 8, 12, 8, 18]
    }
]
`

Where `"data"` is just measuring what place they finished that year i.e. 2 would be 2nd place.

In [4]:
curr_df = df[df['Season'] == 21]
#get the team names of teams that are currently in the premier league
team_names = curr_df['HomeTeam'].unique()
# team_names = df['HomeTeam'].unique()

#initialize a dictionary with current teams
team_names.sort()
teams = {key: [] for key in team_names}

In [5]:
#get all the standings file names in order for data extraction
files = []
root_file = 'data/csv_data/standings-x.csv'
start_szn, end_szn = 9, 21
for i in range(start_szn, end_szn+1):
    curr_file = root_file.replace('x', str(i) + str(i+1))
    files.append(curr_file)

In [6]:
#gather place finishes for each team and for each season
for file in files:
    curr_szn_df = pd.read_csv(file, index_col=0)
    for team in teams.keys():
        try:
            #try to get the standing for the current team in this season
            teams[team].append(int(curr_szn_df.loc[team, 'Place']))
        except KeyError as e:
            #add None to current team if they were not in the first division in current year
            teams[team].append(None)

In [7]:
#build the JSON file
data = []
for key in teams.keys():
    data.append({'name': key, 'data': teams[key]})

In [8]:
#write the JSON file used for dashboard
with open('data/standings.json', 'w', encoding='utf-8') as f:
    json.dump(data, f, ensure_ascii=False, indent=4)

In the dashboard there is an interactive map of England which shows the location of each current Premier League teams stadium as points. These points can be selected to get more information on the selected team. In order to display these points it is necessary to get more data on the teams stadium and exact location. Using the `raw_data/stadiums.csv` file we can then create the `data/point-data.json` file that will be used in the dashboard to display the exact stadium locations using latitude and longitude for each team as well as stadium capacity and how many titles each team currently has won. The final JSON file needs to have this structure:

`
[
    {
        "id": "Team Name Here",
        "name": "Stadium Name Here",
        "cap": "Stadium Capacity Here",
        "val": "Team Total Titles Won Here",
        "lat": "Stadium Latitude Coordinate Here",
        "lon": "Stadium Longitude Coordinate Here"
    }
    ...
]
`

In [9]:
#read in stadium data and get only teams that play in england
stadiums = pd.read_csv('raw_data/stadiums.csv')
stadiums = stadiums[stadiums['Country'] == 'England']

In [10]:
#see what teams are missing
lat_teams = stadiums['FDCOUK'].unique()
for i in team_names:
    if i not in lat_teams:
        print("Missing:", i)

Missing: Brentford

In [11]:
#keep track of which stadiums to include
stadiums['Include'] = stadiums['FDCOUK'].apply(lambda x: True if x in team_names else False)

drop_cols = ['Include', 'Team', 'City', 'Country']
#Keep stadiums that we need and drop columns that are not needed
stadiums = stadiums[stadiums['Include']].reset_index(drop=True).drop(drop_cols, axis=1)

In [12]:
#add the missing teams stadium data to our stadiums dataframe
add_stads = pd.DataFrame([
    ['Brentford', 'Brentford Community Stadium', 17250, 51.4907, -0.2892]
], columns=stadiums.columns)

stadiums = stadiums.append(add_stads, ignore_index=True)

In [13]:
#keep track of how many titles each team has
titles = {
    'Man United': 20,
    'Liverpool': 19,
    'Arsenal': 13,
    'Everton': 9,
    'Aston Villa': 7,
    'Man City': 7,
    'Chelsea': 6,
    'Sunderland': 6,
    'Newcastle': 4,
    'Blackburn': 3,
    'Huddersfield': 3,
    'Leeds': 3,
    'Wolves': 3,
    'Burnley': 2,
    'Portsmouth': 2,
    'Tottenham': 2,
    'Leicester': 1,
    'Sheffield United': 1,
    'West Brom': 1
}

#add title data into our dataframe
titles_df = pd.DataFrame.from_dict(titles, orient='index').reset_index()
titles_df.columns = ['FDCOUK', 'Titles']

stadiums = stadiums.merge(titles_df,  on='FDCOUK', how='left').fillna(0)
stadiums = stadiums.sort_values('FDCOUK').reset_index(drop=True)
#save our data
stadiums.to_csv('data/csv_data/prem_stadiums.csv', index=False)
stadiums.head()

,FDCOUK,Stadium,Capacity,Latitude,Longitude,Titles
0,Arsenal,Emirates Stadium,60361,51.555000,-0.108611,13.0
1,Aston Villa,Villa Park,42785,52.509167,-1.884722,7.0
2,Brentford,Brentford Community Stadium,17250,51.490700,-0.289200,0.0
3,Brighton,American Express Community Stadium,22374,50.861822,-0.083278,0.0
4,Burnley,Turf Moor,22546,53.789167,-2.230278,2.0

Now that we have a DataFrame for each team which tracks their stadium name, capacity, titles as well as their latitude and longitude coordinates we can convert it into a JSON that will can be used in Highcharts to create a map of Premier League stadiums.

In [14]:
data = []
for _, row in stadiums.iterrows():
    data.append({
        'id': row.FDCOUK,
        'name': row.Stadium,
        'cap': int(row.Capacity),
        'val': int(row.Titles),
        'lat': row.Latitude,
        'lon': row.Longitude
    })

In [15]:
with open('data/point_data.json', 'w', encoding='utf-8') as f:
    json.dump(data, f, ensure_ascii=False, indent=4)

Next we are going to use the current standings data to build a table in Highcharts. This table will replicate the actual Premier League table provided by the league. Just like the previous files this needs to be in JSON format to be used in HTML which will have this structure and saved to `data/table_data.json`:

`
[
    [
        "Team Place",
        "Team Name",
        "Team Games Played",
        "Team Wins",
        "Team Draws",
        "Team Losses",
        "Team Goals Scored",
        "Team Goals Conceded",
        "Team Goal Difference",
        "Team Points Earned",
        "<HTML image code> <HTML image code> ... <HTML image code>" 
    ],
    [
        ...
    ]
]
`

The HTML Image code will display the last five results for the current team. This image will be different if the team won, lost or tied that specific match.

In [16]:
#get the current standings
stands_df = pd.read_csv('data/csv_data/standings-2122.csv')

#rename first column, add Games Played column and re-arange the dataframe
stands_df.columns = ['Team'] + list(stands_df.columns[1:])
stands_df['GP'] = stands_df['W'] + stands_df['D'] + stands_df['L']
stands_df = stands_df[['Place', 'Team', 'GP'] + list(stands_df.columns[1:8])]

stands_df.head()

   Place       Team  GP   W  D  L  GF  GA  GD  Pts
0      1   Man City  22  18  2  2  54  13  41   56
1      2  Liverpool  21  13  6  2  55  18  37   45
2      3    Chelsea  22  12  7  3  45  17  28   43
3      4   West Ham  22  11  4  7  41  30  11   37
4      5    Arsenal  20  11  2  7  33  25   8   35

In [17]:
#get the current seasons stats for form
szn_df = df[df['Season'] == 21]
szn_df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HF,AF,HC,AC,HY,AY,HR,AR,Season,Match
4560,E0,13/08/2021,Brentford,Arsenal,2,0,H,1,0,H,...,12,8,2,5,0,0,0,0,21,Arsenal @ Brentford
4561,E0,14/08/2021,Man United,Leeds,5,1,H,1,0,H,...,11,9,5,4,1,2,0,0,21,Leeds @ Man United
4562,E0,14/08/2021,Burnley,Brighton,1,2,A,1,0,H,...,10,7,7,6,2,1,0,0,21,Brighton @ Burnley
4563,E0,14/08/2021,Chelsea,Crystal Palace,3,0,H,2,0,H,...,15,11,5,2,0,0,0,0,21,Crystal Palace @ Chelsea
4564,E0,14/08/2021,Everton,Southampton,3,1,H,0,1,A,...,13,15,6,8,2,0,0,0,21,Southampton @ Everton

In [18]:
#html strings for images used in the table
html_d = {
    'W': "<img src='./images/win.svg'>",
    'D': "<img src='./images/draw.svg'>",
    'L': "<img src='./images/loss.svg'>"
}

In [19]:
df_list = []
for team in curr_df['HomeTeam'].unique():
    #this gets the last five matches for each team
    last_five = curr_df[curr_df['Match'].str.contains(team)].tail(5)
    last_five = last_five.sort_index(ascending=False)
    
    curr_str = ""
    #iterate each teams last five matches and append to HTML string based on win, loss or tie
    for index, row in last_five.iterrows():
        if row.FTR == 'D':
            curr_str = curr_str + html_d[row.FTR] + " "
        else:
            if row.Match.split(' @ ').index(team):
                if row.FTR == 'H':
                    curr_str = curr_str + html_d['W'] + " "
                else:
                    curr_str = curr_str + html_d['L'] + " "
            else:
                if row.FTR == "A":
                    curr_str = curr_str + html_d['W'] + " "
                else:
                    curr_str = curr_str + html_d['L'] + " "
    df_list.append([team, curr_str])

last_five_df = pd.DataFrame(df_list, columns=['Team', 'Last 5'])

In [20]:
f_df = stands_df.merge(last_five_df, on=['Team'], how='left')
f_df.head()

,Place,Team,GP,W,D,L,GF,GA,GD,Pts,Last 5
0,1,Man City,22,18,2,2,54,13,41,56,<img src='./images/win.svg'> <img src='./image...
1,2,Liverpool,21,13,6,2,55,18,37,45,<img src='./images/win.svg'> <img src='./image...
2,3,Chelsea,22,12,7,3,45,17,28,43,<img src='./images/loss.svg'> <img src='./imag...
3,4,West Ham,22,11,4,7,41,30,11,37,<img src='./images/loss.svg'> <img src='./imag...
4,5,Arsenal,20,11,2,7,33,25,8,35,<img src='./images/loss.svg'> <img src='./imag...

In [21]:
with open('data/table_data.json', 'w', encoding='utf-8') as f:
    json.dump(f_df.to_numpy().tolist(), f, ensure_ascii=False, indent=4)

The next data visualization used in the interactive dashboard is a column chart. This column chart needs to be different for each team and will change upon changing the team selected. This column chart will display the current selected teams total wins, losses and ties against every other team currently in the league. Since this plot will need different data based on which team is selected the JSON file structure will be slightly different.

`
{
    "Team Name Here": {
        " teams": [
            "Other Team Name 1 Here",
            "Other Team Name 2 Here",
            ...
            "Other Team Name 19 Here"
        ],
        "results": [
            {
                "name": "Wins",
                "data": ["# of Wins vs. Team Name 1", ... , "# of Wins vs. Team Name 19"],
                "color": "#50C878"
            }, {
                "name": "Draws",
                "data": ["# of Draws vs. Team Name 1", ... , "# of Draws vs. Team Name 19"],
                "color": "#818589"
            }, {
                "name": "Losses",
                "data": ["# of Losses vs. Team Name 1", ... , "# of Losses vs. Team Name 19"],
                "color": "#D2042D"
            }
        ]
    },
    "Other Team Name Here": {
        ...
    }
}
`

In [22]:
#helper function that returns internal JSON structure see above
def build_data_dict():
    return { "teams": [], "results": [
            {"name": "Wins", "data": [], "color": "#50C878"},
            {"name": "Draws", "data": [], "color": "#818589"},
            {"name": "Losses", "data": [], "color": "#D2042D"}
        ]}

In [23]:
prem_teams = list(team_names)
team_d = {}
#loop through all teams in the prem right now
while prem_teams:
    team = prem_teams.pop(0)
    #initialize team in dictionary
    if team not in team_d.keys():
        team_d[team] = build_data_dict()
    #get all the matches of the curr team
    curr_df = df[df['Match'].str.contains(team)]
    #loop through all the remaining teams
    for other_team in prem_teams:
        #do all the calculations
        curr_vs_df = curr_df[curr_df['Match'].str.contains(other_team)]
        total_matches = curr_vs_df.shape[0]
        #get the amount of wins team has over other_team
        try:
            hWins = curr_vs_df[curr_vs_df['HomeTeam'] == team]['FTR'].value_counts()['H']
        except KeyError as e:
            hWins = 0
        #get the amount of draws between both teams
        try:
            draws = curr_vs_df['FTR'].value_counts()['D']
        except KeyError as e:
            draws = 0
        #get amount of away wins
        try:
            aWins = curr_vs_df[curr_vs_df['AwayTeam'] == team]['FTR'].value_counts()['A']
        except KeyError as e:
            aWins = 0
        wins = hWins + aWins
        losses = total_matches - (wins + draws)
        #initialize other_team dictionary
        if other_team not in team_d.keys():
            team_d[other_team] = build_data_dict()
        #fill out data for team
        team_d[team]['teams'].append(other_team)
        team_d[team]['results'][0]['data'].append(int(wins))
        team_d[team]['results'][1]['data'].append(int(draws))
        team_d[team]['results'][2]['data'].append(int(losses))
        #fill out data for other_team
        team_d[other_team]['teams'].append(team)
        team_d[other_team]['results'][0]['data'].append(int(losses))
        team_d[other_team]['results'][1]['data'].append(int(draws))
        team_d[other_team]['results'][2]['data'].append(int(wins))

In [24]:
with open('data/matchup_data.json', 'w', encoding='utf-8') as f:
    json.dump(team_d, f, ensure_ascii=False, indent=4)

Another data visualization included in the dashboard is a spider chart. Just like the previous data file this new `data/spider_data.json` file will need to display different data based on which team is currently selected. Therefore the data file will share a similar structure to the previous JSON file.

`
{
    "Team Name Here": {
        "seriesData": [
            {
                "data": [
                    "# Away Goals Scored Here",
                    "# Total Goals Scored Here",
                    "# Home Goals Conceded Here",
                    "# Away Goals Conceded Here",
                    "# Total Goals Conceded Here",
                    "# Home Goals Scored Here",
                ]
            }
        ],
        "toolDict": {
            "Home Scored": "Xth best in league",
            "Home Conceded": "Xth best in league",
            "Away Scored": "Xth best in league",
            "Away Conceded": "Xth best in league",
            "Total Scored": "Xth best in league",
            "Total Conceded": "Xth best in league"
        }
    },
    "Other Team Name Here": {
        ...
    }
}
`

In [25]:
#keep track of goals home and way for each team
goals_dict_h = {}
goals_dict_a = {}

curr_df = df[df['Season'] == 21]
#loop through each teams Home(Away) results gather goals scored
for name, group in curr_df.groupby('HomeTeam'):
    goals_dict_h[name] = [sum(group['FTHG']), sum(group['FTAG'])]
    
for name, group in curr_df.groupby('AwayTeam'):
    goals_dict_a[name] = [sum(group['FTAG']), sum(group['FTHG'])]

#build dataframe from data    
home_df = pd.DataFrame.from_dict(goals_dict_h, orient='index', columns=['HS', 'HC'])
away_df = pd.DataFrame.from_dict(goals_dict_a, orient='index', columns=['AS', 'AC'])

In [26]:
#build dataframe storing home, away and total goals scored for each team
goals_df = home_df.merge(away_df, left_index=True, right_index=True)

goals_df['TS'] = goals_df['HS'] + goals_df['AS']
goals_df['TC'] = goals_df['HC'] + goals_df['AC']

goals_df.head()

             HS  HC  AS  AC  TS  TC
Arsenal      18   8  15  17  33  25
Aston Villa  17  16  10  16  27  32
Brentford    12  12  12  21  24  33
Brighton      9  10  12  11  21  21
Burnley       8   8   8  19  16  27

In [27]:
#helper function that returns placing string for each place
def place_helper(place):
    if place == 1:
        return '1st best in league'
    elif place == 2:
        return '2nd best in league'
    elif place == 3:
        return '3rd best in league'
    else:
        return str(place) + 'th best in league'

In [28]:
abbrev = {
    'HS': 'Home_Scored',
    'HC': 'Home_Conceded',
    'AS': 'Away_Scored',
    'AC': 'Away_Conceded',
    'TS': 'Total_Scored',
    'TC': 'Total_Conceded'
}

#get the place of each team for each data measured
for col in goals_df.columns:
    goals_df = goals_df.sort_values(col, ascending=(col[-1] == 'C'))
    goals_df[abbrev[col]] = range(1, 21)
    goals_df[abbrev[col]] = goals_df[abbrev[col]].apply(place_helper)
    
goals_df = goals_df.sort_index()
goals_df.head()

,HS,HC,AS,AC,TS,TC,Home_Scored,Home_Conceded,Away_Scored,Away_Conceded,Total_Scored,Total_Conceded
Arsenal,18,8,15,17,33,25,6th best in league,4th best in league,5th best in league,11th best in league,5th best in league,7th best in league
Aston Villa,17,16,10,16,27,32,7th best in league,14th best in league,13th best in league,10th best in league,9th best in league,12th best in league
Brentford,12,12,12,21,24,33,15th best in league,12th best in league,11th best in league,16th best in league,12th best in league,14th best in league
Brighton,9,10,12,11,21,21,17th best in league,7th best in league,10th best in league,5th best in league,16th best in league,6th best in league
Burnley,8,8,8,19,16,27,18th best in league,3rd best in league,17th best in league,14th best in league,19th best in league,8th best in league

In [29]:
#here we convert our goals_df into a JSON datafile which can be used in HTML
spider_data = {}
for index, row in goals_df.iterrows():
    spider_data[index] = {
        'seriesData': [{
            'data': [row.AS, row.TS, row.HC, row.AC, row.TC, row.HS]
        }],
        'toolDict': {
            'Home Scored': row.Home_Scored,
            'Home Conceded': row.Home_Conceded,
            'Away Scored': row.Away_Scored,
            'Away Conceded': row.Away_Conceded,
            'Total Scored': row.Total_Scored,
            'Total Conceded': row.Total_Conceded
        }
    }

In [30]:
with open('data/spider_data.json', 'w', encoding='utf-8') as f:
    json.dump(spider_data, f, ensure_ascii=False, indent=4)

The final chart that will be displayed in the interactive dashboard is a semi circle donut chart. This chart will be the last of which is dependent on which team is selected. The donut chart will display a data visualization which will show more information on the shots each team has taken. The donut will display the percentage of shots that were off-target as well as the percentage of shots that were on-target and percentage of shots that were goals. This chart will also want to display how those individuals stats stack up against the rest of the teams. The structure for the `data/donut_data.json` file will look like this:

`
{
    "Team Name Here": {
        "toolDict": {
            "Off Target": "Xth best in league",
            "On Target": "Xth best in league",
            "Goals": "Xth best in league"
        },
        "data": [
            ["Off Target", # of shots off target here],
            ["On Target", # of shots on target here],
            ["Goals", # of goals here]
        ]
    },
    "Other Team Name Here": {
        ...
    }
}
`

In [31]:
shot_dict = {}
#for every team we are going to save their shots data
for name in team_names:
    #get home and away game data
    home_df = curr_df[curr_df['HomeTeam'] == name]
    away_df = curr_df[curr_df['AwayTeam'] == name]
    #aggregate shot data for both home and away
    total_shots = sum(home_df['HS']) + sum(away_df['AS'])
    total_shots_target = sum(home_df['HST']) + sum(away_df['AST'])
    total_goals = sum(home_df['FTHG']) + sum(away_df['FTAG'])
    #save data in shot_dict which will be used to build a dataframe
    shot_dict[name] = [total_shots, total_shots_target, total_goals]
    
#build dataframe from shot data    
shot_df = pd.DataFrame.from_dict(shot_dict, orient='index', 
                                 columns=['Total_Shots', 'On_Target', 'Goals'])
shot_df['Off_Target'] = shot_df['Total_Shots'] - shot_df['On_Target']
shot_df.head()

             Total_Shots  On_Target  Goals  Off_Target
Arsenal              290        105     33         185
Aston Villa          228         75     27         153
Brentford            223         81     24         142
Brighton             255         81     21         174
Burnley              181         57     16         124

In [32]:
#now that we have a shot dataframe we will loop and add rankings for each column
for col in shot_df.columns:
    if col == 'Off_Target':
        shot_df['Off_%'] = shot_df[col] / shot_df['Total_Shots']
        shot_df = shot_df.sort_values('Off_%')
        shot_df[col + '_Rank'] = range(1, 21)
        shot_df[col + '_Rank'] = shot_df[col + '_Rank'].apply(place_helper)
        shot_df.drop(['Off_%'], axis=1, inplace=True)
    elif col != 'Total_Shots':
        shot_df = shot_df.sort_values(col, ascending=False)
        shot_df[col + '_Rank'] = range(1, 21)
        shot_df[col + '_Rank'] = shot_df[col + '_Rank'].apply(place_helper)
        
shot_df = shot_df.sort_index()
shot_df.head()

,Total_Shots,On_Target,Goals,Off_Target,On_Target_Rank,Goals_Rank,Off_Target_Rank
Arsenal,290,105,33,185,5th best in league,5th best in league,7th best in league
Aston Villa,228,75,27,153,16th best in league,9th best in league,14th best in league
Brentford,223,81,24,142,12th best in league,12th best in league,6th best in league
Brighton,255,81,21,174,11th best in league,16th best in league,15th best in league
Burnley,181,57,16,124,20th best in league,19th best in league,16th best in league

In [33]:
#build our JSON file from shot_df
shot_data = {}
for index, row in shot_df.iterrows():
    shot_data[index] = {
        'toolDict': {
            'Off Target': row.Off_Target_Rank,
            'On Target': row.On_Target_Rank,
            'Goals': row.Goals_Rank
        },
        'data': [
            ['Off Target', row.Off_Target],
            ['On Target', row.On_Target],
            ['Goals', row.Goals]
        ]
    }

In [34]:
with open('data/donut_data.json', 'w', encoding='utf-8') as f:
    json.dump(shot_data, f, ensure_ascii=False, indent=4)